.container {
  display: flex;
  flex-wrap: wrap;

  width: 300px;
  height: 200px;

  border: solid 2px black;

  justify-content: space-around;
  /* align-content: center; */
}

.container > p {
  margin: 0;
  padding: 0;

  width: 5rem;
  height: 2rem;

  background: rgb(39, 168, 190);
  border-radius: 5px;
}
