.container {
  height: 15vh;
  width: 30vw;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  border: 2px solid black;
}

.innerContainer {
  display: flex;
  justify-content: space-evenly;
}

.innerContainer p {
  background: rgb(39, 168, 190);
  color: white;
  border-radius: 5px;
  border: 2px solid rgb(46, 126, 126);

  padding: 0.25rem 0.5rem;
  margin: 0;
}
